@import "./modules/_nullstyle";
@import "./modules/_anim-scroll";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

/*-------------------------------------------------------------*/
/*-----The Foundation------------------------------------------*/
/*-------------------------------------------------------------*/

body {

}

body._lock {
  overflow: hidden;
}

/*-------------------------------------------------------------*/
/*-----Technical classes---------------------------------------*/
/*-------------------------------------------------------------*/

._container {
  max-width: 1200px;
  margin: 0px auto;
}

._wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

._subtitle {
  line-height: 150%;
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}

._btn {
  display: block;
  margin: 0 auto;
  color: #ffffff;
  font-size: 18px;
  padding: 25px 70px;
  border-radius: 5px;
  text-transform: uppercase;
  transition-duration: 0.6s;
}

/*-------------------------------------------------------------*/
/*-----Header--------------------------------------------------*/
/*-------------------------------------------------------------*/

.header {
  width: 100%;
  margin-bottom: 25px;
}

.header__menu {
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
  }

  & h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
  }

  &__body {
    display: flex;
    gap: 0px 25px;
  }

  &__button {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: inherit;
    background-color: transparent;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    padding: 10px 25px;
  }

  &__button_fill {
    border: none;
    background: #02897a;
  }

  &__theme {
    background-color: transparent;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px 20px;
}

.menu__link {
  font-size: 16px;
  line-height: 28px;

  color: #ffffff;
  &:hover {
  }
}

/*-------------------------------------------------------------*/
/*-----Burger--------------------------------------------------*/
/*-------------------------------------------------------------*/

.menu__icon {
  display: none;
  margin: 0 0 0 auto;
}

@media (max-width: 900px) {
  .menu__logo {
    z-index: 5;
    position: relative;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 42px;
    height: 25px;
    cursor: pointer;
  }

  .menu__icon._active {
    span {
      transform: scale(0) translate(0px, -50%);
    }

    &::before {
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
    }

    &::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
    }
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #ffffff;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 120px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 75px;
    background: #000000;
  }

  .menu__list {
    flex-direction: column;
    gap: 30px 20px;
  }

  .menu__item {
    margin: 0 auto;
    text-align: center;
  }

  .menu__link {
    font-size: 35px;
  }
}

/*-------------------------------------------------------------*/
/*-----Footer--------------------------------------------------*/
/*-------------------------------------------------------------*/

.footer {
  &__container {
    padding: 40px 0px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 20px;
  }
}
